streamlit
streamlit_option_menu
pandas
numba
numpy
pip
uv
sqlalchemy
mysql_connector
boto3
json                                                              
plotly.express                                                                      
sqlite3                                    
pickle   
