streamlit
streamlit_option_menu
pandas
numba
numpy
pip
uv
sqlalchemy
mysql_connector
boto3
plotly
plotly.express                                                                                                          
scikit-learn  
pymysql
scikit-learn ==  1.2.2
daal4py 
imbalanced-learn
scikit-learn-intelex
joblib
